# Nuxt dev/build outputs
frontend/.output
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist

# Dynamodb local files
backend/.dynamodb
backend/.build
backend/undefined
backend/uploads/*

# Node dependencies
node_modules
backend/node_modules
frontend/node_modules

# Logs
frontend/logs
*.log

# Misc
frontend/.DS_Store
frontend/.fleet
frontend/.idea

# Local env files
.env
.env.*
!.env.example

# Cypress videos and screenshots
frontend/cypress/videos
frontend/cypress/screenshots